*{
    font-family: 'BIZ UDPGothic', sans-serif;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#form {
    width: max-content;
    margin: 40px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    background: #151414;
    border-radius: 4px;
    border: 1px solid #302d2d;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes popup {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #e7e7e7;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #a4a4a4;
}
.input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #323131;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
.input-parent input:hover {
    background: #404040;
}
.input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}
button {
    padding: 10px 18px;
    font-size: 15px;
    background: #1a3969;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;
}
button:hover {
    opacity: 0.9;
}
button:focus {
    box-shadow: 0px 0px 0px 3px black;
}
body {
    background: #1c1b1b;
}
span {
    color:white;
    font-size:1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
    #form{
        width: 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    #form{
        width: fit-content;
    }
}
.formSelect{
    grid-area: 1 / 7 / 2 / 14;
}
.loginBoxbtn{
    grid-area: 1 / 8 / 2 / 10;
    width: 100%;
}
.registerBoxbtn{
    grid-area: 1 / 11 / 2 / 13;
    width: 100%;
}
.registerBox{
    grid-area: 2 / 7 / 8 / 14;
}
.loginBox{
    grid-area: 2 / 7 / 8 / 14;  
}
.userSidePanel li button{
margin: 5px 5px 0px 0px;
}
.userSidePanel li { 
    grid-area: 1 / 1 / 21 / 4; 
    list-style-type: none;
}
.userDashboard { grid-area: 1 / 4 / 21 / 17; }
.coinList { grid-area: 1 / 17 / 21 / 21; }