*{
    font-family: 'BIZ UDPGothic', sans-serif;
}  
body,html,main,#master{
    height:100%;
}  
body{
    background-color: black;
    /* border: 1px solid white; */
}
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
h1{
    color:white;
    text-align: center;
}
h2{
    color:white;
    font-size: 1rem;
}
button{
    margin-top: 5px;
    background-color:black;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}
button:hover, button.active{
    color:black;
    background-color: white;
}
table{
    padding: 3px;
    margin-top:20px;
    margin-left: 0%;
    /* border:1px solid white; */
    width:100%;
    /* border-radius: 20px; */
}
tr:nth-child(even){
    background-color: cornflowerblue;
    color:white;
}
th{
    padding: 3%;
    padding-bottom:1%;
    /* border-bottom:1px solid white; */
    color:white;
}
td{
    /* border-radius: 10px; */
    padding: 3%;
    padding-bottom:1%;
}
.swapContainer{
    -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
    background: #131212;
    border: 1px solid rgb(66, 59, 59);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px rgba(33,65,141,.2);
    grid-area: 4 / 5 / 10 / 9;
}
.swapTitle{
 font-size: 4rem;
 font-family: 'Faster One', cursive;
 border-radius: 5px;
 width: 90%;
 background: rgb(140,13,159);
 background: linear-gradient(41deg, rgba(140,13,159,1) 0%, rgba(37,37,153,0.9500175070028011) 50%, rgba(140,13,159,1) 100%);
}
.swapSubtitle{
    margin-top: -30px;
    margin-bottom: 25px;
}
.swapContainer div{
    color:white;
}
.swapContainer span{
    color: white;
}
.swapContainerArrowBtn{
    font-size:1.5rem;
}
.tokenList{
    /* border: 1px solid white; */
    grid-area: 1 / 1 / 13 / 5;
}
.walletConnect{
    /* border: 1px solid white; */
    grid-area: 1 / 9 / 13 / 13;  
}
.enableEthereumButton{
    background-color: red;
}
.walletAdress{
    color:white;
    font-size:1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
    #fromToken{
        width: 76%;
    }
    #toToken{
        width: 76%;  
    }
    .swapTitle{
        font-size: 1.5rem;
       }
       .swapSubtitle{
        font-size: 0.5rem;
        margin-top: -15px;
        margin-bottom: 25px;
       }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    #fromToken{
        width: 76%;
    }
    #toToken{
        width: 76%;  
    }
    .swapTitle{
        font-size: 2rem;
       }
       .swapSubtitle{
        font-size: 0.5rem;
        margin-top: -15px;
        margin-bottom: 25px;
       }
}
@media only screen and (min-width: 768px) {
    .swapTitle{
    font-size: 3rem;
   }
   .swapSubtitle{
    font-size: 1rem;
    margin-top: -25px;
    margin-bottom: 25px;
   }
}

@media only screen and (min-width: 1200px) {
    .swapTitle{
        width: 70%;
    }
    #fromToken{
        width: 50%;
    }
    #toToken{
        width: 50%;  
    } 
}
